* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 1000;
    padding: 0 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    background-color: #9370db;
}

.logo {
    width: 20%;
}

.logo img {
    width: 38%;
}

.menu .nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-right: 30px;
    position: relative;
}

.nav-links .hover::after {
    content: "";
    width: 0;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
}

.nav-links .hover:hover::after {
    width: 100%;
}

.menu .reg .hover {
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.reg .reg-link {
    color: #fff;
}

.reg .reg-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
    color: #9370db;
    transition: .4s;
}

.reg .reg-btn:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.menu h2 {
    font-size: 30px;
    margin-left: 25px;
    color: #fff;
}

.bill-board {
    background: #9370db;
    width: 100%;
    height: 55vh;
    position: absolute;
    top: 60px;
    border-bottom-left-radius: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .1);
    z-index: -1;
}

.wallet-container {
    margin: 120px auto;
    background-color: #fff;
    width: 550px;
    height: 850px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
}

.wallet-container h2{
    text-align: center;
    color: #555;
    font-weight: normal;
    font-size: 35px;
    padding-top: 30px;
}

.wallet-id {
    margin: 0 auto;
    padding-top: 50px;
    background-color: #fff;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
    position: relative;
    top: 40px;
}

.wallet-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: -10px 40px;
}

.wallet-id:hover {
    transform: scale(1.1);
}

.wallet-id p {
    text-align: center;
    font-size: 20px;
    margin: 24px 0;
}

.wallet-symbol {
    display: flex;
    margin-top: -30px;
    color: #555;
}

.wallet-logo {
    width: 20%;
}

.list-heading {
    font-size: 25px;
    font-weight: normal;
}

.form-control{
    width: 78%;
    background: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    outline: none;
    color: #555;
    font-size: 16px;
    padding: 12px;
    margin-left: 30px;
}

.btn {
    width: 200px;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #9370db;
    outline: none;
    background-color: #9370db;
    color: #fff;
    font-size: 15px;
    /*margin: 0 0 10px 160px;*/
    position: relative;
    top: -14px;
}

.buy-details {
    margin: 80px 110px 0;
}

form{
    margin-top: 10px;
    transition: all 4s ease-in-out;
}

.form-controls{
    width: 330px;
    background: transparent;
    border: thin;
    outline: none;
    border-bottom: 1px solid gray;
    color: #555;
    font-size: 15px;
    margin-bottom: 18px;
}

input{
    height: 40px;
}

::placeholder {
    color: #ccc;
}

.submit {
    width: 120px;
    background-color: transparent;
    color: #9379db;
    outline: none;
    border: 1px solid #9370db;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
}

.btn2 {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #9370db;
    outline: none;
    background-color: #9370db;
    color: #fff;
    font-size: 15px;
    margin: 30px 60px 10px -120px;
}

.submit1 {
    position: relative;
    top: 30;
    right: -120px;
}

.select-tag {
    width: 330px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.3;
    color: #555;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: transparent;
    outline: none;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    padding: 8px 0 8px 8px;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#Currency {
    width: 100px;
    margin-left: 10px;
    font-size: 14px;
    font-family: sans-serif;
    color: #555;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: transparent;
    outline: none;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    padding: 8px 0 8px 8px;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

span {
    color: #555;
    font-size: 20px;
    font-weight: bold;
    margin-top: 23px;
}

code {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.form-control1 {
    width: 200px;
    background: transparent;
    border:thin;
    outline: none;
    border-bottom: 1px solid gray;
    color: #555;
    font-size: 15px;
    margin-bottom: 18px;
}

.align {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 20px;
    font-weight: bold;
}

.copyright {
    margin-top: -20px;
    text-align: center;
    font-size: 14px;
    background-color: #9370db;
    color: #fff;
    padding: 15px;
}